<div *ngIf="selectedRoadsection" class="component">
  <div class="card border-primary">
    <div class="card-header">
      selected roadsection {{selectedRoadsection.id}}
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered table-condensed table-sm">
        <thead class="thead-light">
        <tr>
          <th>attribute</th>
          <th>value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>id</td>
          <td>{{selectedRoadsection.id}}</td>
        </tr>
        <tr>
          <td>road</td>
          <td>{{'R' + selectedRoadsection.roadNumber}}</td>
        </tr>
        <tr>
          <td>start KM</td>
          <td>{{selectedRoadsection.beginKilometer | number : '1.3-3' | kilometry}}</td>
        </tr>
        <tr>
          <td>end KM</td>
          <td>{{selectedRoadsection.endKilometer | number : '1.3-3' | kilometry}}</td>
        </tr>
        <tr>
          <td>start distance</td>
          <td>{{selectedRoadsection.beginDistance | distance}}</td>
        </tr>
        <tr>
          <td>end distance</td>
          <td>{{selectedRoadsection.endDistance | distance}}</td>
        </tr>
        <tr>
          <td>start junction</td>
          <td>{{selectedRoadsection.beginJunction | junction}}</td>
        </tr>
        <tr>
          <td>end junction</td>
          <td>{{selectedRoadsection.endJunction | junction}}</td>
        </tr>
        <tr>
          <td>driveway (nl: baan)</td>
          <td>{{selectedRoadsection.drivewaySubtype ? selectedRoadsection.drivewaySubtype.drivewaySubtypeCode :
            'null'}}
          </td>
        </tr>
        <tr>
          <td>driveway position (nl: baanpositie)</td>
          <td>{{selectedRoadsection.drivewayPosition ? selectedRoadsection.drivewayPosition.drivewayPositionCode :
            'null'}}
          </td>
        </tr>
        <tr>
          <td>admin. direction</td>
          <td>{{selectedRoadsection.administrativeDirection | direction}}</td>
        </tr>
        <tr>
          <td>driving direction</td>
          <td>{{selectedRoadsection.drivingDirection | direction}}</td>
        </tr>
        <tr>
          <td>hectoletter</td>
          <td>{{selectedRoadsection.hectoLetter}}</td>
        </tr>
        <tr>
          <td>municipality id</td>
          <td>{{selectedRoadsection.municipalityId}}</td>
        </tr>
        <tr>
          <td>municipality</td>
          <td>{{selectedRoadsection.municipalityName}}</td>
        </tr>
        <tr>
          <td>street name</td>
          <td>{{selectedRoadsection.streetName}}</td>
        </tr>
        <tr>
          <td>residence</td>
          <td>{{selectedRoadsection.residence}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
