<div *ngIf="selectedRoadsection" class="component">
  <div class="card border-primary">
    <div class="card-header">
      geselecteerd wegvak {{selectedRoadsection.id}}
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered table-condensed table-sm">
        <thead class="thead-light">
        <tr>
          <th>attribuut</th>
          <th>waarde</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>id</td>
          <td>{{selectedRoadsection.id}}</td>
        </tr>
        <tr>
          <td>weg</td>
          <td>{{'R' + selectedRoadsection.roadNumber}}</td>
        </tr>
        <tr>
          <td>begin KM</td>
          <td>{{selectedRoadsection.beginKilometer | kilometry}}</td>
        </tr>
        <tr>
          <td>eind KM</td>
          <td>{{selectedRoadsection.endKilometer | kilometry}}</td>
        </tr>
        <tr>
          <td>beginafstand</td>
          <td>{{selectedRoadsection.beginDistance | distance}}</td>
        </tr>
        <tr>
          <td>eindafstand</td>
          <td>{{selectedRoadsection.endDistance | distance}}</td>
        </tr>
        <tr>
          <td>beginjunctie</td>
          <td>{{selectedRoadsection.beginJunction | junction}}</td>
        </tr>
        <tr>
          <td>eindjunctie</td>
          <td>{{selectedRoadsection.endJunction | junction}}</td>
        </tr>
        <tr>
          <td>baan</td>
          <td>{{selectedRoadsection.drivewaySubtype ? selectedRoadsection.drivewaySubtype.drivewaySubtypeCode :
            'null'}}
          </td>
        </tr>
        <tr>
          <td>baanpositie</td>
          <td>{{selectedRoadsection.drivewayPosition ? selectedRoadsection.drivewayPosition.drivewayPositionCode :
            'null'}}
          </td>
        </tr>
        <tr>
          <td>admin. richting</td>
          <td>{{selectedRoadsection.administrativeDirection | direction}}</td>
        </tr>
        <tr>
          <td>rijrichting</td>
          <td>{{selectedRoadsection.drivingDirection | direction}}</td>
        </tr>
        <tr>
          <td>hectoletter</td>
          <td>{{selectedRoadsection.hectoLetter}}</td>
        </tr>
        <tr>
          <td>gemeente id</td>
          <td>{{selectedRoadsection.municipalityId}}</td>
        </tr>
        <tr>
          <td>gemeentenaam</td>
          <td>{{selectedRoadsection.municipalityName}}</td>
        </tr>
        <tr>
          <td>straatnaam</td>
          <td>{{selectedRoadsection.streetName}}</td>
        </tr>
        <tr>
          <td>woonplaats</td>
          <td>{{selectedRoadsection.residence}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
