<div class="container-fluid">
  <h1 class="h1">{{title}}</h1>
  <div class="row ">
    <div class="col-md-3 column-content left-column">
      <app-roadsection-selection></app-roadsection-selection>
      <br>
      <app-roadsection-list [roadsections]="roadsections"
                            (selectedRoadsectionChanged)="onSelectedRoadsectionChange($event)"></app-roadsection-list>
    </div>
    <div class="col-md-9 column-content">
      <app-map [map_lat]="map_lat" [map_lng]="map_lng" [maptype]="maptype" [roadsections]="roadsections"
               [fitBounds]="fitBounds" [selectedRoadsection]="selectedRoadsection"></app-map>
    </div>
  </div>
</div>
