<h3 class="h3">{{title}}</h3>
<div style="padding: 5px">
  <ul class="nav nav-tabs">
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="home">Home</a> </li>
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="selection">Selection</a> </li>
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="datasets">Datasets</a> </li>
  </ul>
</div>
<router-outlet></router-outlet>

<!--<div class="container-fluid">-->
  <!--<h1 class="h1">{{title}}</h1>-->


  <!--<div class="row ">-->
    <!--<div class="col-md-3 column-content left-column">-->
      <!--&lt;!&ndash;<app-roadsection-selection></app-roadsection-selection>&ndash;&gt;-->
      <!--&lt;!&ndash;<br>&ndash;&gt;-->
      <!--<app-roadsection-list [roadsections]="roadsections" [selectedRoadsection]="selectedRoadsection"-->
                            <!--(selectedRoadsectionChanged)="onSelectedRoadsectionChange($event)"-->
                            <!--(zoomInChanged)="onZoomInChange($event)">-->
      <!--</app-roadsection-list>-->
    <!--</div>-->
    <!--<div class="col-md-9 column-content">-->
      <!--<app-map [map_lat]="map_lat" [map_lng]="map_lng" [maptype]="maptype" [roadsections]="roadsections"-->
               <!--[fitBounds]="fitBounds" [selectedRoadsection]="selectedRoadsection"-->
               <!--(selectedRoadsectionChanged)="onSelectedRoadsectionChange($event)"></app-map>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
